{% extends 'base.html' %}

{% block css %}
.spec {
  font-size: 25px;
}
.det {
  height:450px;
  width: 450px;
}
.cont {
        min-height: 60%;
      }
@media (max-width: 670px) { 
  .det {
    width: 55vw !important;
    height:55vw !important;
  }
  .spec {
  font-size: 15px !important;
}
.spec>h3 {
  font-size:15px;
}
}
@media (max-width: 400px) {
  .det {
    width:90% !important;
    height:75vw !important;
  } 
  .spec {
  font-size: 18px !important;
}
.spec>h3 {
  font-size:18px;
}
.my-5 {
    margin-top:0 !important;
  }
}
@media (max-width: 230px) {
  .det {
    width:90% !important;
    height:75vw !important;
  } 
  .spec {
  font-size: 12px !important;
}
.spec>h3 {
  font-size:12px;
}
.my-5 {
    margin-top:0 !important;
  }
.btn-lg {
  font-size: 10px;
}
}
.popover-header {
  background-color: orange !important;
} 
{% endblock css %}

{% block title %}Details{% endblock title %}

{% block body %}

  <div class="container">
    <div class="row my-5 gy-lg-0 gy-md-5 gy-5">
      <div class="col-lg offset-lg-1 col-md-12 text-lg-left text-md-center text-center" >
        <img src="{{details.img.url}}" alt="..." class="det">  
      </div>
      <div class="spec col-lg col-md-12 px-5 text-left text-break offset-lg-0">
        <h3 style="text-decoration:underline; font-weight:bold;">Specifications</h3>
        <br>
        <p><b>{{details.name|upper}}</b></p>
        <p><b>Price : </b>&#8377; {{details.price}}</p>
        <p><b>Description</b></p>
        <p>{{details.desc|title}}</p>
        <p><b>Manufacturing Date : </b>{{details.date}}</p>
        <button type="button" class="btn btn-success btn-lg"  data-bs-toggle="popover" title="Functionality" data-bs-content="This Feature is not yet implemented!">Buy Now</button>
      </div>
    </div>
  </div>
{% endblock body %}

{% block script %}
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
});
{% endblock script %}